In [1]:
import pandas as pd
d1 = pd.read_csv("Individual_contribution_2019_2020.csv")
d1.head(20)

,CMTE_ID,TRANSACTION_DT,TRANSACTION_AMT,STATE,ENTITY_TP,TRANSACTION_TP,NAME,EMPLOYER,OCCUPATION
0,C00703975,2020-01-10,250.0,Pennsylvania,Individual,(15E) Earmarked Contribution,"NELSON, MICHAEL",UNIVERSAL HEALTH SERVICES INC,IT MANAGEMENT
1,C00075820,2020-01-10,35.0,Tennessee,Individual,(15E) Earmarked Contribution,"CLEMENTS, JOEL",RETIRED,RETIRED
2,C00075820,2020-01-10,50.0,Tennessee,Individual,(15E) Earmarked Contribution,"CLEMENTS, JOEL",RETIRED,RETIRED
3,C00697441,2020-01-10,13.0,District of Columbia,Individual,(15) Contribution from Individual,"PREISS, BETH",FEDERAL HOUSING FINANCE AGENCY OIG,EVALUATOR
4,C00697441,2020-01-10,32.0,Pennsylvania,Individual,(15) Contribution from Individual,"BASSMAN, JAIME",INDEPENDENT CONTRACTOR,OCCUPATIONAL THERAPIST
5,C00696948,2020-01-10,27.0,Oregon,Individual,(15E) Earmarked Contribution,"FARBER, JEFFREY",NOT EMPLOYED,NOT EMPLOYED
6,C00696948,2020-01-10,10.0,Massachusetts,Individual,(15E) Earmarked Contribution,"EASTON-CALABRIA, AUGUST",NOT EMPLOYED,NOT EMPLOYED
7,C00696948,2020-01-10,10.0,New York,Individual,(15E) Earmarked Contribution,"FACTEAU, ERIK",HIGHVIEW CREATIONS,LANDSCAPING
8,C00075820,2020-01-10,25.0,Texas,Individual,(15E) Earmarked Contribution,"SURBER, CHERYL",RETIRED,RETIRED
9,C00696948,2020-01-10,2.0,California,Individual,(15E) Earmarked Contribution,"GUTIERREZ, JOE",DISNEY,FIELD SUPERINTENDENT
10,C00696948,2020-01-10,27.0,California,Individual,(15E) Earmarked Contribution,"JAVED, FAROOQ",MEDALLIA,VP
11,C00703975,2020-01-10,100.0,Florida,Individual,(15E) Earmarked Contribution,"JAVAID, AAMIR",SELF-EMPLOYED,PHYSICIAN
12,C00697441,2020-01-10,10.0,California,Individual,(15E) Earmarked Contribution,"FRANICEVICH, JAMES J",NOT EMPLOYED,NOT EMPLOYED
13,C00697441,2020-01-10,10.0,Kentucky,Individual,(15E) Earmarked Contribution,"ELLIS, MICHAEL",ARMY,INFANTRY
14,C00703975,2020-01-10,3.0,Florida,Individual,(15E) Earmarked Contribution,"PARKER, SARAH",MHS,NURSE
15,C00696948,2020-01-10,2.0,California,Individual,(15E) Earmarked Contribution,"GUTIERREZ, JOE",DISNEY,FIELD SUPERINTENDENT
16,C00696948,2020-01-10,20.0,Massachusetts,Individual,(15E) Earmarked Contribution,"DUPLISEA, BRIAN",NEA,LABOR ORGANIZER
17,C00075820,2020-01-10,5.0,Tennessee,Individual,(15E) Earmarked Contribution,"CLEMENTS, JOEL",RETIRED,RETIRED
18,C00697441,2020-01-10,20.0,Indiana,Individual,(15E) Earmarked Contribution,"KOCH, NINA",COLUMBUS REGIONAL HOSPITAL,RN
19,C00697441,2020-01-10,25.0,California,Individual,(15E) Earmarked Contribution,"EDGERTON, DAVID",UC RIVERSIDE,WRITER

In [2]:
d1.shape

(34465962, 9)

In [3]:
d1.tail(10)

,CMTE_ID,TRANSACTION_DT,TRANSACTION_AMT,STATE,ENTITY_TP,TRANSACTION_TP,NAME,EMPLOYER,OCCUPATION
34465952,C00010603,2020-12-31,100.0,Connecticut,Individual,(15E) Earmarked Contribution,"SEAMAN, LINDA",Undisclosed,Undisclosed
34465953,C00000935,2020-12-31,19.0,Florida,Individual,(15E) Earmarked Contribution,"JENNIS, GARY",Undisclosed,NOT EMPLOYED
34465954,C00009639,2020-12-31,12.0,North Carolina,Individual,(15) Contribution from Individual,"HANNA, DAVID P",TRUIST BANK,ASSISTANT MANAGER OF INVESTOR
34465955,C00010603,2020-12-31,10.0,New Mexico,Individual,(15E) Earmarked Contribution,"HACKER, KENNETH",NMSU,UNIVERSITY ADMINISTRATOR
34465956,C00027466,2020-12-31,16.0,New York,Individual,(15E) Earmarked Contribution,"DELIETO, NEIL",RETIRED,RETIRED
34465957,C00000935,2020-12-31,50.0,New York,Individual,(15E) Earmarked Contribution,"GAMBLE, JILL",Undisclosed,NOT EMPLOYED
34465958,C00000935,2020-12-31,15.0,New York,Individual,(15E) Earmarked Contribution,"RODRIGUEZ, MARGARITA",Undisclosed,NOT EMPLOYED
34465959,C00000935,2020-12-31,15.0,Michigan,Individual,(15E) Earmarked Contribution,"RHEIN, ELIZABETH",GDK CONSTRUCTION,MARKETING COORDINATOR
34465960,C00009639,2020-12-31,14.0,Maryland,Individual,(15) Contribution from Individual,"SPRINGMANN, SCOTT M",TRUIST BANK,MARKET PRESIDENT VI
34465961,C00401224,2020-12-31,1.0,California,Individual,(15) Contribution from Individual,"GLACKIN, MARY ELLEN",NOT EMPLOYED,NOT EMPLOYED

In [4]:
d1.dtypes

CMTE_ID             object
TRANSACTION_DT      object
TRANSACTION_AMT    float64
STATE               object
ENTITY_TP           object
TRANSACTION_TP      object
NAME                object
EMPLOYER            object
OCCUPATION          object
dtype: object

In [5]:
d1['ENTITY_TP'].unique()

array(['Individual', 'Candidate', 'Committee', 'Organization',
       'Political Action Committee', 'Candidate Committee',
       'Party Organization'], dtype=object)

In [11]:
# Check for literal "NONE" string
print("=== CHECKING FOR 'NONE' STRING VALUE ===")
print(f"EMPLOYER with 'NONE': {(d1['EMPLOYER'] == 'NONE').sum():,}")
print(f"OCCUPATION with 'NONE': {(d1['OCCUPATION'] == 'NONE').sum():,}")
print()

# Case-insensitive check (in case it's "none", "None", etc.)
print("=== CASE-INSENSITIVE CHECK ===")
print(f"EMPLOYER with 'NONE' (any case): {(d1['EMPLOYER'].str.upper() == 'NONE').sum():,}")
print(f"OCCUPATION with 'NONE' (any case): {(d1['OCCUPATION'].str.upper() == 'NONE').sum():,}")
print()

=== CHECKING FOR 'NONE' STRING VALUE ===
EMPLOYER with 'NONE': 0
OCCUPATION with 'NONE': 0

=== CASE-INSENSITIVE CHECK ===
EMPLOYER with 'NONE' (any case): 0
OCCUPATION with 'NONE' (any case): 0

In [12]:
# Replace NONE with Undisclosed (case-insensitive)
d1['EMPLOYER'] = d1['EMPLOYER'].str.replace('NONE', 'Undisclosed', regex=True)
d1['OCCUPATION'] = d1['OCCUPATION'].str.replace('NONE', 'Undisclosed', regex=True)

# Verify the change
print("After replacement:")
print(f"EMPLOYER = 'NONE': {(d1['EMPLOYER'].str.upper() == 'NONE').sum():,}")
print(f"EMPLOYER = 'Undisclosed': {(d1['EMPLOYER'] == 'Undisclosed').sum():,}")
print()
print(f"OCCUPATION = 'NONE': {(d1['OCCUPATION'].str.upper() == 'NONE').sum():,}")
print(f"OCCUPATION = 'Undisclosed': {(d1['OCCUPATION'] == 'Undisclosed').sum():,}")

After replacement:
EMPLOYER = 'NONE': 0
EMPLOYER = 'Undisclosed': 4,634,793

OCCUPATION = 'NONE': 0
OCCUPATION = 'Undisclosed': 1,002,454

In [8]:
# Check for literal "NONE" string
print("=== CHECKING FOR 'NONE' STRING VALUE ===")
print(f"EMPLOYER with 'NONE': {(d1['EMPLOYER'] == 'NONE').sum():,}")
print(f"OCCUPATION with 'NONE': {(d1['OCCUPATION'] == 'NONE').sum():,}")
print()

# Case-insensitive check (in case it's "none", "None", etc.)
print("=== CASE-INSENSITIVE CHECK ===")
print(f"EMPLOYER with 'NONE' (any case): {(d1['EMPLOYER'].str.upper() == 'NONE').sum():,}")
print(f"OCCUPATION with 'NONE' (any case): {(d1['OCCUPATION'].str.upper() == 'NONE').sum():,}")
print()

=== CHECKING FOR 'NONE' STRING VALUE ===
EMPLOYER with 'NONE': 0
OCCUPATION with 'NONE': 0

=== CASE-INSENSITIVE CHECK ===
EMPLOYER with 'NONE' (any case): 0
OCCUPATION with 'NONE' (any case): 0

In [16]:
d1['EMPLOYER'].unique() == 'NONE'

array([False, False, False, ..., False, False, False])

In [17]:
d1['OCCUPATION'].unique() == 'NONE'

array([False, False, False, ..., False, False, False])

In [13]:
# Keep these entity types
keep_entities = ['Individual', 'Candidate', 'Committee', 'Candidate Committee']

# Filter the dataset
d1 = d1[d1['ENTITY_TP'].isin(keep_entities)].copy()

print(f"Rows after filtering: {len(d1):,}")
print(f"Entity types kept:\n{d1['ENTITY_TP'].value_counts()}")

Rows after filtering: 34,447,155
Entity types kept:
ENTITY_TP
Individual             34435869
Candidate                  6098
Committee                  4746
Candidate Committee         442
Name: count, dtype: int64

In [14]:
d1.shape

(34447155, 9)

In [19]:
import pandas as pd

# Assuming your dataframe is called df
# and TRANSACTION_DT is already in datetime format

# If not yet converted:
d1["TRANSACTION_DT"] = pd.to_datetime(d1["TRANSACTION_DT"], errors="coerce")

# Define date range
start_date = "2020-09-01"
end_date = "2020-12-31"

# Filter data within the range (inclusive)
filtered_df = d1[
    (d1["TRANSACTION_DT"] >= start_date) &
    (d1["TRANSACTION_DT"] <= end_date)
]

# Optional: check number of rows and preview
print(f"Filtered rows: {len(filtered_df)}")
print(filtered_df.head())

Filtered rows: 20557859
            CMTE_ID TRANSACTION_DT  TRANSACTION_AMT           STATE  \
13898780  C00703975     2020-09-01             15.0  North Carolina
13898781  C00027466     2020-09-01            100.0         Florida
13898782  C00003418     2020-09-01            300.0           Texas
13898783  C00443689     2020-09-01              5.0  North Carolina
13898784  C00401224     2020-09-01              1.0   Massachusetts

           ENTITY_TP                     TRANSACTION_TP  \
13898780  Individual       (15E) Earmarked Contribution
13898781  Individual       (15E) Earmarked Contribution
13898782  Individual  (15) Contribution from Individual
13898783  Individual       (15E) Earmarked Contribution
13898784  Individual  (15) Contribution from Individual

                                NAME                 EMPLOYER  \
13898780               TEAGUE, PATTI          KELLER WILLIAMS
13898781           CIVELLO, NELSON D                  RETIRED
13898782  MENZIES, ROBERT RANSOM MR.              Undisclosed
13898783                 TUCK, KAREN             NOT EMPLOYED
13898784            BEGAY, SHANADEEN  NORTHEASTERN UNIVERSITY

                       OCCUPATION
13898780                  REALTOR
13898781                  RETIRED
13898782              Undisclosed
13898783             NOT EMPLOYED
13898784  POST-DOCTORAL ASSOCIATE

In [20]:
filtered_df.shape

(20557859, 9)

In [39]:
filtered_df.dtypes

CMTE_ID                    object
TRANSACTION_DT     datetime64[ns]
TRANSACTION_AMT           float64
STATE                      object
ENTITY_TP                  object
TRANSACTION_TP             object
NAME                       object
EMPLOYER                   object
OCCUPATION                 object
dtype: object

In [21]:
import pandas as pd
d2 = pd.read_csv("Individual_contribution_2021_2022.csv")

In [22]:
d2.head(20)

,CMTE_ID,TRANSACTION_DT,TRANSACTION_AMT,STATE,ENTITY_TP,TRANSACTION_TP,NAME,EMPLOYER,OCCUPATION
0,C00618371,2021-01-10,100.0,Missouri,Individual,(15E) Earmarked Contribution,"TOWEY, NANCY",USBANK,BRANCH MANAGER
1,C00633404,2021-01-10,8.0,New York,Individual,(15E) Earmarked Contribution,"POGGIOLI, SUSAN",AURORA PRODUCTIONS INTL INC,ACCOUNTANT
2,C00633404,2021-01-10,5.0,Alabama,Individual,(15E) Earmarked Contribution,"PITTARD, JOEL",LEE OBGYN,PHYSICIAN
3,C00633404,2021-01-10,300.0,New York,Individual,(15E) Earmarked Contribution,"PERSHING, SANDRA",NOT EMPLOYED,NOT EMPLOYED
4,C00633404,2021-01-10,1000.0,Florida,Individual,(15E) Earmarked Contribution,"RAZACK, ADNAN",EDMC,PROFESSOR
5,C00633404,2021-01-10,25.0,Washington,Individual,(15E) Earmarked Contribution,"HILBERG, PAMELA",NOT EMPLOYED,NOT EMPLOYED
6,C00633404,2021-01-10,25.0,Washington,Individual,(15E) Earmarked Contribution,"HILBERG, PAMELA",NOT EMPLOYED,NOT EMPLOYED
7,C00633404,2021-01-10,25.0,Washington,Individual,(15E) Earmarked Contribution,"HILBERG, PAMELA",NOT EMPLOYED,NOT EMPLOYED
8,C00633404,2021-01-10,25.0,Washington,Individual,(15E) Earmarked Contribution,"HILBERG, PAMELA",NOT EMPLOYED,NOT EMPLOYED
9,C00633404,2021-01-10,15.0,Washington,Individual,(15E) Earmarked Contribution,"HILBERG, PAMELA",NOT EMPLOYED,NOT EMPLOYED
10,C00639591,2021-01-10,50.0,New York,Individual,(15E) Earmarked Contribution,"BACHERT, JASON",STATE OF NEW YORK,LIBRARIAN
11,C00639591,2021-01-10,50.0,New York,Individual,(15E) Earmarked Contribution,"KEENAN, SCOTT",TEVA PHARMACEUTICALS,RESEARCH QUALITY ASSURANCE
12,C00639591,2021-01-10,5.0,New York,Individual,(15E) Earmarked Contribution,"NEWELL, ALAN",NONE,NONE
13,C00639591,2021-01-10,50.0,New Jersey,Individual,(15E) Earmarked Contribution,"ANDERSON, DENNIS",NONE,RETIRED
14,C00639591,2021-01-10,50.0,Alabama,Individual,(15E) Earmarked Contribution,"KARRH, JERRY",NOT EMPLOYED,NOT EMPLOYED
15,C00639591,2021-01-10,27.0,Florida,Individual,(15E) Earmarked Contribution,"KARBE, BETH",SELF,ACUPUNCTURE
16,C00639591,2021-01-10,500.0,New Jersey,Individual,(15E) Earmarked Contribution,"HERMAN, HARPER",NOT EMPLOYED,NOT EMPLOYED
17,C00639591,2021-01-10,10.0,California,Individual,(15E) Earmarked Contribution,"FAGAN, ZACK",FUSIONSTORM,ENGINEER
18,C00639591,2021-01-10,50.0,Michigan,Individual,(15E) Earmarked Contribution,"REYNOLDS, COLLIN",ITHAKA,SOFTWARE ENGINEER
19,C00633404,2021-01-10,15.0,Colorado,Individual,(15E) Earmarked Contribution,"FERET, JEFF",STONEBRIDGE HOSPITALITY,HOUSEKEEPING SUPERVISOR

In [23]:
d2.tail(10)

,CMTE_ID,TRANSACTION_DT,TRANSACTION_AMT,STATE,ENTITY_TP,TRANSACTION_TP,NAME,EMPLOYER,OCCUPATION
31610394,C00000935,2022-12-31,25.0,New Jersey,Individual,(15E) Earmarked Contribution,"HENDERSON, JAMES",Undisclosed,NOT EMPLOYED
31610395,C00000935,2022-12-31,35.0,New Jersey,Individual,(15E) Earmarked Contribution,"HENDERSON, JAMES",Undisclosed,NOT EMPLOYED
31610396,C00000935,2022-12-31,6.0,Georgia,Individual,(15E) Earmarked Contribution,"HENDERSON, HILLARY",CLEARLEAP,DIRECTOR OF PRODUCT STRATEGY
31610397,C00000935,2022-12-31,5.0,North Carolina,Individual,(15E) Earmarked Contribution,"PORT, JEAN",WILD CAT KNOB ENTERPRISES,SOCIAL WORK
31610398,C00000935,2022-12-31,20.0,Virginia,Individual,(15E) Earmarked Contribution,"STREET, MATHEW",AMERICAN BANKERS ASSOCIATION,ATTORNEY
31610399,C00000935,2022-12-31,50.0,Missouri,Individual,(15E) Earmarked Contribution,"SEYFRIED, WARREN",WASHINGTON UNIVERSITY,DATABASE ANALYST
31610400,C00000935,2022-12-31,15.0,Pennsylvania,Individual,(15E) Earmarked Contribution,"WALLS, RACHEL",CHEF SOFTWARE,CONSULTANT
31610401,C00000935,2022-12-31,25.0,Pennsylvania,Individual,(15E) Earmarked Contribution,"SUSS, PAULA",SUSS CONSULTING INC.,SECRETARY
31610402,C00000935,2022-12-31,25.0,California,Individual,(15E) Earmarked Contribution,"NORTH, SALLY",LAUSD,EDUCATOR
31610403,C00042366,2022-12-31,25.0,California,Individual,(15E) Earmarked Contribution,"HUANG, MARGARET",NONE,NOT EMPLOYED

In [24]:
d2.shape

(31610404, 9)

In [25]:
# Check for literal "NONE" string
print("=== CHECKING FOR 'NONE' STRING VALUE ===")
print(f"EMPLOYER with 'NONE': {(d2['EMPLOYER'] == 'NONE').sum():,}")
print(f"OCCUPATION with 'NONE': {(d2['OCCUPATION'] == 'NONE').sum():,}")
print()

# Case-insensitive check (in case it's "none", "None", etc.)
print("=== CASE-INSENSITIVE CHECK ===")
print(f"EMPLOYER with 'NONE' (any case): {(d2['EMPLOYER'].str.upper() == 'NONE').sum():,}")
print(f"OCCUPATION with 'NONE' (any case): {(d2['OCCUPATION'].str.upper() == 'NONE').sum():,}")
print()

=== CHECKING FOR 'NONE' STRING VALUE ===
EMPLOYER with 'NONE': 1,455,855
OCCUPATION with 'NONE': 75,198

=== CASE-INSENSITIVE CHECK ===
EMPLOYER with 'NONE' (any case): 1,455,855
OCCUPATION with 'NONE' (any case): 75,198

In [26]:
# Replace NONE with Undisclosed (case-insensitive)
d2['EMPLOYER'] = d2['EMPLOYER'].str.replace('NONE', 'Undisclosed', regex=True)
d2['OCCUPATION'] = d2['OCCUPATION'].str.replace('NONE', 'Undisclosed', regex=True)

# Verify the change
print("After replacement:")
print(f"EMPLOYER = 'NONE': {(d2['EMPLOYER'].str.upper() == 'NONE').sum():,}")
print(f"EMPLOYER = 'Undisclosed': {(d2['EMPLOYER'] == 'Undisclosed').sum():,}")
print()
print(f"OCCUPATION = 'NONE': {(d2['OCCUPATION'].str.upper() == 'NONE').sum():,}")
print(f"OCCUPATION = 'Undisclosed': {(d2['OCCUPATION'] == 'Undisclosed').sum():,}")

After replacement:
EMPLOYER = 'NONE': 0
EMPLOYER = 'Undisclosed': 4,081,373

OCCUPATION = 'NONE': 0
OCCUPATION = 'Undisclosed': 601,111

In [27]:
# Check for literal "NONE" string
print("=== CHECKING FOR 'NONE' STRING VALUE ===")
print(f"EMPLOYER with 'NONE': {(d2['EMPLOYER'] == 'NONE').sum():,}")
print(f"OCCUPATION with 'NONE': {(d2['OCCUPATION'] == 'NONE').sum():,}")
print()

# Case-insensitive check (in case it's "none", "None", etc.)
print("=== CASE-INSENSITIVE CHECK ===")
print(f"EMPLOYER with 'NONE' (any case): {(d2['EMPLOYER'].str.upper() == 'NONE').sum():,}")
print(f"OCCUPATION with 'NONE' (any case): {(d2['OCCUPATION'].str.upper() == 'NONE').sum():,}")
print()

=== CHECKING FOR 'NONE' STRING VALUE ===
EMPLOYER with 'NONE': 0
OCCUPATION with 'NONE': 0

=== CASE-INSENSITIVE CHECK ===
EMPLOYER with 'NONE' (any case): 0
OCCUPATION with 'NONE' (any case): 0

In [43]:
# Keep these entity types
keep_entities = ['Individual', 'Candidate', 'Committee', 'Candidate Committee']

# Filter the dataset
d2 = d2[d2['ENTITY_TP'].isin(keep_entities)].copy()

print(f"Rows after filtering: {len(d2):,}")
print(f"Entity types kept:\n{d2['ENTITY_TP'].value_counts()}")

Rows after filtering: 31,591,525
Entity types kept:
ENTITY_TP
Individual             31579321
Candidate                 11026
Committee                   922
Candidate Committee         256
Name: count, dtype: int64

In [28]:
d2.shape

(31610404, 9)

In [41]:
d2.head()

,CMTE_ID,TRANSACTION_DT,TRANSACTION_AMT,STATE,ENTITY_TP,TRANSACTION_TP,NAME,EMPLOYER,OCCUPATION
0,C00618371,2021-01-10,100.0,Missouri,Individual,(15E) Earmarked Contribution,"TOWEY, NANCY",USBANK,BRANCH MANAGER
1,C00633404,2021-01-10,8.0,New York,Individual,(15E) Earmarked Contribution,"POGGIOLI, SUSAN",AURORA PRODUCTIONS INTL INC,ACCOUNTANT
2,C00633404,2021-01-10,5.0,Alabama,Individual,(15E) Earmarked Contribution,"PITTARD, JOEL",LEE OBGYN,PHYSICIAN
3,C00633404,2021-01-10,300.0,New York,Individual,(15E) Earmarked Contribution,"PERSHING, SANDRA",NOT EMPLOYED,NOT EMPLOYED
4,C00633404,2021-01-10,1000.0,Florida,Individual,(15E) Earmarked Contribution,"RAZACK, ADNAN",EDMC,PROFESSOR

In [43]:
d2.dtypes

CMTE_ID                    object
TRANSACTION_DT     datetime64[ns]
TRANSACTION_AMT           float64
STATE                      object
ENTITY_TP                  object
TRANSACTION_TP             object
NAME                       object
EMPLOYER                   object
OCCUPATION                 object
dtype: object

In [42]:

# Convert date column to datetime
d2["TRANSACTION_DT"] = pd.to_datetime(d2["TRANSACTION_DT"], errors="coerce")

In [29]:
import pandas as pd
d3 = pd.read_csv("Individual_contribution_2023_2024.csv")

In [30]:
d3.head(20)

,CMTE_ID,TRANSACTION_DT,TRANSACTION_AMT,STATE,ENTITY_TP,TRANSACTION_TP,NAME,EMPLOYER,OCCUPATION
0,C00770941,2023-01-10,100.0,Missouri,Individual,(15E) Earmarked Contribution,"LACKAMP, ROBERT",SELF-EMPLOYED,PHYSICISN
1,C00770941,2023-01-10,1.0,New Jersey,Individual,(15E) Earmarked Contribution,"GINA, ALEXANDRA",RETIRED,RETIRED
2,C00770941,2023-01-10,10.0,New Jersey,Individual,(15E) Earmarked Contribution,"GINA, ALEXANDRA",RETIRED,RETIRED
3,C00770941,2023-01-10,7.0,New Jersey,Individual,(15E) Earmarked Contribution,"GINA, ALEXANDRA",RETIRED,RETIRED
4,C00401224,2023-01-10,10.0,California,Individual,(15) Contribution from Individual,"WEBSTER, JOHN",QUEST DIAGNOSTICS,CYTOGENETIC TECHNOLOGIST
5,C00770941,2023-01-10,20.0,New Jersey,Individual,(15E) Earmarked Contribution,"GINA, ALEXANDRA",RETIRED,RETIRED
6,C00770941,2023-01-10,50.0,Oregon,Individual,(15E) Earmarked Contribution,"GIRARD, GEORGE",RETIRED,RETIRED
7,C00770941,2023-01-10,3.0,Texas,Individual,(15E) Earmarked Contribution,"BASSHAM, MARK",RETIRED,RETIRED
8,C00748582,2023-01-10,250.0,Massachusetts,Individual,(10) Contribution to Candidate,"RHODES, JASON",ATLAS VENTURE,BIOTECH
9,C00401224,2023-01-10,1.0,Arizona,Individual,(15) Contribution from Individual,"JONES, NANCY F",NOT EMPLOYED,NOT EMPLOYED
10,C00770941,2023-01-10,10.0,New Jersey,Individual,(15E) Earmarked Contribution,"GINA, ALEXANDRA",RETIRED,RETIRED
11,C00678987,2023-01-10,1000.0,Pennsylvania,Individual,(15) Contribution from Individual,"ALONGE, GERALD",VANTAGE,EXECUTIVE
12,C00027359,2023-01-10,240.0,California,Individual,(15) Contribution from Individual,"SOLIS, CELSO",IRON WORKERS LOCAL 433,IRONWORKER
13,C00264697,2023-01-10,26.0,Ohio,Individual,(15E) Earmarked Contribution,"SEALS, DAVID",AULTMAN HOSPITAL,PHYSICIAN
14,C00770941,2023-01-10,2.0,Utah,Individual,(15E) Earmarked Contribution,"CAMPBELL, VELDA",RETIRED,RETIRED
15,C00770941,2023-01-10,5.0,Utah,Individual,(15E) Earmarked Contribution,"CAMPBELL, VELDA",RETIRED,RETIRED
16,C00770941,2023-01-10,5.0,West Virginia,Individual,(15E) Earmarked Contribution,"CAMPE, ROBERT",RETIRED,RETIRED
17,C00770941,2023-01-10,30.0,Florida,Individual,(15E) Earmarked Contribution,"CAMPO, YESIT",BIZCPAS,CPA
18,C00770941,2023-01-10,50.0,Florida,Individual,(15E) Earmarked Contribution,"CANARY, RICHARD",SELF-EMPLOYED,JEWELRY MAKER
19,C00401224,2023-01-10,3.0,California,Individual,(15) Contribution from Individual,"BARNES, PAMELA",SELF,TAX CONSULTANT

In [31]:
d3.tail(10)

,CMTE_ID,TRANSACTION_DT,TRANSACTION_AMT,STATE,ENTITY_TP,TRANSACTION_TP,NAME,EMPLOYER,OCCUPATION
47343822,C00770941,2024-12-31,7.0,New York,Individual,(15E) Earmarked Contribution,"BIVIANO, GLEN",GJB TRANS,TRUCK DRIVER
47343823,C00414896,2024-12-31,115.0,California,Individual,(15) Contribution from Individual,"ALSTON, THEODORE J. JR.",RAPISCAN SECURITY,"VP, CUSTOMER SERVICE"
47343824,C00414896,2024-12-31,28.0,Massachusetts,Individual,(15) Contribution from Individual,"HACK, DAVID",AS&E,SENIOR VP
47343825,C00414896,2024-12-31,57.0,California,Individual,(15) Contribution from Individual,"GRINDSTAFF, GLENN","OSI SYSTEMS, INC.",CHIEF HUMAN RESOURCES OFFICER
47343826,C00414896,2024-12-31,300.0,California,Individual,(15) Contribution from Individual,"GREENBERG, JOSH",OSI SYSTEMS,ASSOCIATE COUNSEL
47343827,C00414896,2024-12-31,28.0,California,Individual,(15) Contribution from Individual,"FUENTES, MIGUEL",RAPISCAN SYSTEMS,PRODUCTION AND FACILITIES MANAGER
47343828,C00414896,2024-12-31,115.0,California,Individual,(15) Contribution from Individual,"COOK, CHRISTOPHER","OSI SYSTEMS, INC.",VP OF CORPORATE COMPLIANCE
47343829,C00414896,2024-12-31,115.0,Virginia,Individual,(15) Contribution from Individual,"CONNOR, MEGAN","RAPISCAN SYSTEMS, INC.","DIRECTOR, CONTRACT MANAGEMENT"
47343830,C00414896,2024-12-31,115.0,New Hampshire,Individual,(15) Contribution from Individual,"KELLEY, CHRISTOPHER",AMERICAN SCIENCE AND ENGINEERI,GLOOBAL SENIOR DIRECTOR
47343831,C00027466,2024-12-31,25.0,Illinois,Individual,(15E) Earmarked Contribution,"SCHULZ, MARTIN",RETIRED,RETIRED

In [32]:
d3.shape

(47343832, 9)

In [33]:
# Check for literal "NONE" string
print("=== CHECKING FOR 'NONE' STRING VALUE ===")
print(f"EMPLOYER with 'NONE': {(d3['EMPLOYER'] == 'NONE').sum():,}")
print(f"OCCUPATION with 'NONE': {(d3['OCCUPATION'] == 'NONE').sum():,}")
print()

# Case-insensitive check (in case it's "none", "None", etc.)
print("=== CASE-INSENSITIVE CHECK ===")
print(f"EMPLOYER with 'NONE' (any case): {(d3['EMPLOYER'].str.upper() == 'NONE').sum():,}")
print(f"OCCUPATION with 'NONE' (any case): {(d3['OCCUPATION'].str.upper() == 'NONE').sum():,}")
print()

=== CHECKING FOR 'NONE' STRING VALUE ===
EMPLOYER with 'NONE': 1,495,518
OCCUPATION with 'NONE': 32,980

=== CASE-INSENSITIVE CHECK ===
EMPLOYER with 'NONE' (any case): 1,495,518
OCCUPATION with 'NONE' (any case): 32,980

In [34]:
# Replace NONE with Undisclosed (case-insensitive)
d2['EMPLOYER'] = d2['EMPLOYER'].str.replace('(?i)^none$', 'Undisclosed', regex=True)
d2['OCCUPATION'] = d2['OCCUPATION'].str.replace('(?i)^none$', 'Undisclosed', regex=True)

# Verify the change
print("After replacement:")
print(f"EMPLOYER = 'NONE': {(d2['EMPLOYER'].str.upper() == 'NONE').sum():,}")
print(f"EMPLOYER = 'Undisclosed': {(d2['EMPLOYER'] == 'Undisclosed').sum():,}")
print()
print(f"OCCUPATION = 'NONE': {(d2['OCCUPATION'].str.upper() == 'NONE').sum():,}")
print(f"OCCUPATION = 'Undisclosed': {(d2['OCCUPATION'] == 'Undisclosed').sum():,}")

After replacement:
EMPLOYER = 'NONE': 0
EMPLOYER = 'Undisclosed': 4,081,373

OCCUPATION = 'NONE': 0
OCCUPATION = 'Undisclosed': 601,111

In [35]:
# Check for literal "NONE" string
print("=== CHECKING FOR 'NONE' STRING VALUE ===")
print(f"EMPLOYER with 'NONE': {(d3['EMPLOYER'] == 'NONE').sum():,}")
print(f"OCCUPATION with 'NONE': {(d3['OCCUPATION'] == 'NONE').sum():,}")
print()

# Case-insensitive check (in case it's "none", "None", etc.)
print("=== CASE-INSENSITIVE CHECK ===")
print(f"EMPLOYER with 'NONE' (any case): {(d3['EMPLOYER'].str.upper() == 'NONE').sum():,}")
print(f"OCCUPATION with 'NONE' (any case): {(d3['OCCUPATION'].str.upper() == 'NONE').sum():,}")
print()

=== CHECKING FOR 'NONE' STRING VALUE ===
EMPLOYER with 'NONE': 1,495,518
OCCUPATION with 'NONE': 32,980

=== CASE-INSENSITIVE CHECK ===
EMPLOYER with 'NONE' (any case): 1,495,518
OCCUPATION with 'NONE' (any case): 32,980

In [36]:
# Keep these entity types
keep_entities = ['Individual', 'Candidate', 'Committee', 'Candidate Committee']

# Filter the dataset
d3 = d3[d3['ENTITY_TP'].isin(keep_entities)].copy()

print(f"Rows after filtering: {len(d3):,}")
print(f"Entity types kept:\n{d3['ENTITY_TP'].value_counts()}")

Rows after filtering: 47,318,912
Entity types kept:
ENTITY_TP
Individual             47307932
Candidate                  9461
Committee                  1220
Candidate Committee         299
Name: count, dtype: int64

In [37]:
d3.shape

(47318912, 9)

In [47]:
d3.dtypes

CMTE_ID                    object
TRANSACTION_DT     datetime64[ns]
TRANSACTION_AMT           float64
STATE                      object
ENTITY_TP                  object
TRANSACTION_TP             object
NAME                       object
EMPLOYER                   object
OCCUPATION                 object
dtype: object

In [45]:

# Convert date column to datetime
d3["TRANSACTION_DT"] = pd.to_datetime(d3["TRANSACTION_DT"], errors="coerce")

# MERGING

In [48]:
# Concatenate all three datasets
df_combined = pd.concat([filtered_df, d2, d3], ignore_index=True)

# Check combined dataset
print("Combined shape:", df_combined.shape)
print("\nDate range:")
print("Start:", df_combined['TRANSACTION_DT'].min())
print("End:", df_combined['TRANSACTION_DT'].max())
print("\nNull values:")
print(df_combined.isnull().sum())

Combined shape: (99487175, 9)

Date range:
Start: 2020-09-01 00:00:00
End: 2024-12-31 00:00:00

Null values:
CMTE_ID            0
TRANSACTION_DT     0
TRANSACTION_AMT    0
STATE              0
ENTITY_TP          0
TRANSACTION_TP     0
NAME               0
EMPLOYER           0
OCCUPATION         0
dtype: int64

In [51]:
# Save cleaned dataset for Tableau
df_combined.to_csv("Individual_contribution_2020_2024.csv", index=False)
print(" File saved as: Individual_contribution_2020_2024.csv")

 File saved as: Individual_contribution_2020_2024.csv

In [49]:
df_combined.shape

(99487175, 9)

In [50]:
df_combined.isnull().sum()

CMTE_ID            0
TRANSACTION_DT     0
TRANSACTION_AMT    0
STATE              0
ENTITY_TP          0
TRANSACTION_TP     0
NAME               0
EMPLOYER           0
OCCUPATION         0
dtype: int64